*:focus {
    outline: none; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #363636;
}

#back2Top {
    width: 60px;
    height: 60px;
    padding-top: 12px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 5;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 30px;
    left: 20px;
    background-color: #FA6742;
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #ff7957;
    color: #fff;
}

.header {
    height: 96px;
    width: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 999;
    border-bottom: 1px #757575 solid;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.navbar {
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    margin-right: auto;
}

.navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list-item {
    list-style: none;
    margin-right: 30px;
}

.navbar-list-item:last-child {
    margin: 0;
}

.item-link {
    font-size: 20px;
    color: #363636;
    text-decoration: none;
}

.slider {
    padding-top: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    background-color: #2bc2a7;
}

.slider-inner {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 150px;
    padding: 0 15px;
}

.slider-card-image {
    margin-right: 55px;
}

.slider-card-title {
    color: #fff;
    font-size: 60px;
    margin-bottom: 26px;
    line-height: 1.2;
    max-width: 500px;
}

.slider-card-title span {
    color: #363636;
}

.slider-card-subtitle {
    color: #fff;
    font-size: 20px;
    margin-bottom: 40px;
    max-width: 472px;
}

.slider-card-button {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 35px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    position: relative;
    z-index: 99;    
    background: #FA6742;
    border: 1px solid transparent;
    cursor: pointer;
}

.slider-button {
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 99;
}

.slider-button img {
    width: 50px;
    height: 50px;
    fill: #363636;
}

.button-previous {
    left: 20px;
}

.button-next {
    right: 20px;
}

.button-next img {
    transform: scale(-1, 1);
}

.request {
    height: 360px;
    background-image: url(../img/request-bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.request-title {
    color: #000;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 50px;
}

.request-title span {
    color: #fff;
}

.request-email-input {
    border-radius: 50px;
    padding: 15px 30px;
    border: none;
    direction: ltr;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    position: relative;
    width: 500px;
    left: 30px;
}

.request-submit-input {
    font-size: 14px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    background: #363636;
    color: #fff;
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    position: relative;
    z-index: 2;
    right: 30px;
    cursor: pointer;
}

.about {
    height: 704px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.about-image {
    margin-right: 60px;
}

.information-animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #FA6742;
    overflow: hidden;
    margin-bottom: 40px;
}

.information-animate-border::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 15px;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    animation: animborder 2s linear infinite;
}

.information-title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 1.2;
    max-width: 520px;
}

.information-subtitle {
    color: #757575;
    font-weight: 400;
    margin-bottom: 16px;
    line-height: 28px;
    max-width: 520px;
}

.information-subtitle + .second {
    margin-bottom: 40px;
}

.information-button {
    border-radius: 50px;
    background: #FA6742;
    border: 1px solid transparent;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 18px 35px;
    line-height: 50px;
    position: relative;
    z-index: 99;
}

.advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.advantages-title {
    color: #363636;
    font-size: 44px;
    margin-bottom: 25px;
}

.advantages-title span {
    color: #FA6742;
}

.advantages-animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #FA6742;
    overflow: hidden;
    margin-bottom: 80px;
}

.advantages-animate-border::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 15px;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    animation: animborder 2s linear infinite;
}

.advantages-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.advantages-card {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.advantages-card-image {
    margin-bottom: 30px;
}

.advantages-card-title {
    font-size: 24px;
    margin-bottom: 15px;
}

.advantages-card-subtitle {
    max-width: 250px;
    font-weight: 400;
    color: #757575;
}

.working-process {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.working-process-title {
    color: #363636;
    font-size: 44px;
    margin-bottom: 25px;
}

.working-process-title span {
    color: #FA6742;
}

.working-process-animate-border {
    position: relative;
    display: block;
    width: 115px;
    height: 3px;
    background: #FA6742;
    overflow: hidden;
    margin-bottom: 180px;
}

.working-process-animate-border::after {
    position: absolute;
    content: "";
    width: 35px;
    height: 3px;
    left: 15px;
    bottom: 0;
    border-left: 10px solid #fff;
    border-right: 10px solid #fff;
    animation: animborder 2s linear infinite;
}

.progressbar-container{
    width: 1140px;
    z-index: 10;
    margin-bottom: 80px;
    margin: auto;
  }

.progressbar{
    counter-reset: step;
}

.swiper-pagination-bullet{
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
    list-style: none;
    opacity: 1;
    background: none;
    color: #5c5c5c;
}

.swiper-pagination-bullet:before{
    content:"1";
    content:counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    border: 2px solid #757575;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    line-height: 27px;
    background: white;
    color: #757575;
    text-align: center;
    font-weight: bold;
  }

.swiper-pagination-bullet:after{
    content: '';
    position: absolute;
    width:100%;
    height: 3px;
    background: #979797;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.swiper-pagination-bullet:first-child:after{
    content: none;
}

.swiper-pagination-bullet:first-child:before{
    border-color: #3aac5d;
    background: #3aac5d;
    color: white
 }

.active {
    border-color: #3aac5d;
}

.active + .swiper-pagination-bullet:after{
    background: #3aac5d;
}

.active + .swiper-pagination-bullet:before{
   border-color: #3aac5d;
   background: #3aac5d;
   color: white
}

.progressbar-item-link {
    text-decoration: none;
    color: #5c5c5c;
    cursor: pointer;
}

.working-swiper-container {
    overflow: hidden;
    height: 600px;
}

.working-swiper-container .slider-card-title, 
.working-swiper-container .slider-card-subtitle {
    color: #363636;
}

.working-slider-button {
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    padding-top: 14%;
    z-index: 3;
}

.working-slider-button img {
    width: 50px;
    height: 50px;
    fill: #363636;
}

.working-button-previous {
    left: 20px;
}

.working-button-next {
    right: 20px;
}

.working-button-next img {
    transform: scale(-1, 1);
}




@keyframes animborder {
    0% {
        left: -50%;
    }

    33.3% {
        left: 0%;
    }

    66.6% {
        left: 50%;
    }

    100% {
        left: 100%;
    }
  }